a {
  cursor: pointer;
}

a.nostyle {
  color: inherit;
}

a.nostyle:hover {
  text-decoration: none;
}

.table-code {
  font-size: 12px;
  width: 100%;
}

.code-pre {
  white-space: pre-wrap;
  font-family: monospace;
  padding-left: 20px;
}

.code-line-number {
  color: #aaa;
  width: 30px;
  text-align: right;
  vertical-align: top;
}

.color-added {
  color: green;
}

.color-deleted {
  color: red;
}

.code-line-added {
  background-color: #e5ffe5;
}

.code-line-deleted {
  background-color: #ffeaea;
}

.code-line-expand {
  background-color: #eee;
}

.code-line-extra {
  background-color: #f9f9f9;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  /* Hack since ng-bootstrap doesn't calculate the position correctly */
  top: 0 !important;
}

.app-log-list {
  margin-top: 30px;
  height: calc(100vh - 40px - 30px);
}

.autoscroll {
  overflow: auto;
}

.app-log-list .log-date {
  margin-top: 20px;
  margin-left: -12px;
}

.app-log-list .log-date i {
  margin-right: 10px;
  background: #fff;
  color: rgba(0,0,0,.125);
}

.log-date + .list-group {
  margin-left: 10px;
}

.app-log-groups {
  border-left: 1px solid rgba(0,0,0,.125);
  padding-left: 5px;
}

.stats {
  margin-top: 5px;
}

.commit-message {
  margin-top: 10px;
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.sidebar {
  position: absolute;
  z-index: 2000;
  background: white;
  border: 1px solid #ccc;
  height: calc(100vh - 70px);
  max-width: 400px;
}

.sidebar.hide {
  transform: translate(-400px);
  transition:  transform 0.5s ease;
}

.sidebar.show {
  transform: translate(0);
  transition:  transform 0.5s ease;
}

.loading {
  text-align: center;
  padding-top: 200px;
}

app-breadcrumb {
  display: block;
  margin-top: 20px;
}

breadcrumb nav {
  position: relative;
}

breadcrumb nav button {
  position: absolute;
  top: 9px;
  right: 9px;
}

.list-group-item {
  padding: 5px 20px;
}

.list-group-tree i {
  margin-right: 10px;
}

.breadcrumb-tree {
  background: none;
  padding: 0;
  margin-bottom: 5px;
  font-size: 12px;
}
