.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  height: calc(100vh - 40px);  /* -40px for navbar */
  padding-top: .5rem;
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link:hover {
  text-decoration: underline;
}

.sidebar .nav-link.active {
  color: #007bff;
}

a.nostyle {
  color: inherit;
}

a.nostyle:hover {
  text-decoration: none;
}

.table-code {
  font-size: 12px;
  width: 100%;
}

.code-pre {
  white-space: pre-wrap;
  font-family: monospace;
  padding-left: 20px;
}

.code-line-number {
  color: #aaa;
  width: 30px;
  text-align: right;
  vertical-align: top;
}

.code-line-added {
  background-color: #e5ffe5;
}

.code-line-deleted {
  background-color: #ffeaea;
}

.code-line-expand {
  background-color: #eee;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  /* Hack since ng-bootstrap doesn't calculate the position correctly */
  top: 0 !important;
}
