<div class="container-fuild">
  <div class="row">
    <div class="col-md-2 bg-light">
      <h5>Projects</h5>
      <ul class="nav flex-column">
        <li *ngFor="let project of projects">{{project.name}}</li>
      </ul>

      <h5>Local branches</h5>
      <ul class="nav flex-column">
        <li *ngFor="let branch of project?.local_branches">{{branch}}</li>
      </ul>

      <h5>Remote branches</h5>
      <ul class="nav flex-column">
        <li *ngFor="let branch of project?.remote_branches">{{branch}}</li>
      </ul>
    </div>
    <div class="col-md-10">
    </div>
  </div>
</div>
