<div class="clearfix">
  <a class="btn btn-default btn-sm float-right" (click)="close()"><i class="far fa-window-close"></i> Close diff</a>
</div>

<div *ngIf="data$ | async as data">
  <div class="alert alert-info">
    <div>{{data.commit.summary}}</div>
    <div class="small pre commit-message" *ngIf="data.commit.message">{{data.commit.message}}</div>
  </div>
  <div>
    <div class="clearfix small">
      <div class="float-left">{{data.commit.author.name || data.commit.author.email}} commited on {{data.commit.date | date: 'short'}}</div>
      <div class="float-right">{{data.commit.short_hash}}</div>
    </div>
    <div class="small">
      <span *ngFor="let branch of data.commit.branches" class="badge badge-secondary mr-2">{{branch}}</span>
    </div>
    <div (click)="showDetails = !showDetails" class="cursor-pointer small">
      {{data.commit.stats.total.files}} changed <ng-template [ngIf]="data.commit.stats.total.files != 1">files</ng-template><ng-template [ngIf]="data.commit.stats.total.files == 1"></ng-template>
      <span class="color-added">+ {{data.commit.stats.total.insertions}}</span> <span class="color-deleted">- {{data.commit.stats.total.deletions}}</span>
    </div>
    <ul class="small stats" [hidden]="!showDetails">
      <li *ngFor="let stat of data.commit.stats.files"><a [routerLink]="" [fragment]="stat.filename">{{stat.filename}}</a> <span class="color-added">+ {{stat.data.insertions}}</span> <span class="color-deleted">- {{stat.data.deletions}}</span></li>
    </ul>
  </div>
  <div *ngFor="let d of data.diffs" class="card mb-4">
    <div class="card-body" [id]="d.path">
      <div class="card-title">{{d.title}}</div>
      <table class="table-code" *ngIf="d.lines.length">
        <ng-template ngFor let-line [ngForOf]="d.lines">
          <tr [class]="'code-line-' + line.type" *ngIf="line.type !== 'hidden'">
            <ng-template [ngIf]="line.type === 'expand'">
              <td colspan="2" class="text-center">
                <a href="#" (click)="expand(line)" class="d-block"><i class="fas fa-arrows-alt-v"></i></a>
              </td>
            </ng-template>
            <ng-template [ngIf]="line.type !== 'expand'">
              <td class="code-line-number">{{line.before_line}}</td>
              <td class="code-line-number">{{line.after_line}}</td>
            </ng-template>
            <td class="code-pre">{{line.content}}</td>
          </tr>
          <ng-template ngFor let-subline [ngForOf]="line.lines">
            <tr [class]="'code-line-' + subline.type" *ngIf="subline.type !== 'hidden'">
              <td class="code-line-number">{{subline.before_line}}</td>
              <td class="code-line-number">{{subline.after_line}}</td>
              <td class="code-pre">{{subline.content}}</td>
            </tr>
          </ng-template>
        </ng-template>
      </table>
      <div *ngIf="!d.lines.length">No content</div>
    </div>
  </div>
</div>
